a {
  color: var(--themePrimary);
}

h1 {
  font-size: 40px;
  font-weight: 400;
}

h2 {
  font-size: 20px;
  font-weight: 400;
}

h3 {
  font-size: 15px;
  font-weight: 400;
}

/*
  показывать скроллбар только при скролле
*/
.scrollbar-container .ps__rail-y {
  opacity: 0 !important;
}
.scrollbar-container.ps--scrolling-y .ps__rail-y {
  opacity: 1 !important;
}
.scrollbar-container .ps__rail-x {
  opacity: 0 !important;
}
.scrollbar-container.ps--scrolling-x .ps__rail-x {
  opacity: 1 !important;
}
