.invisible {
  visibility: hidden;
}

.turnChildRight90 > * {
  transform: rotate(90deg);
}

.transitionChild01 > * {
  transition: 0.1s;
}

.fakeHeader {
  height: var(--headerHeight);
  width: 100%;
}

.hidden {
  display: none;
}

.appear {
  opacity: 0;
  animation-name: appear;
  animation-duration: 0.3s;
  animation-fill-mode: forwards;
  animation-timing-function: ease-in;
}
@keyframes appear {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.centered {
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
}

.fcs {
  display: flex;
  justify-content: start;
}

.fce {
  display: flex;
  justify-content: end;
}

.fis {
  display: flex;
  align-items: start;
}

.fie {
  display: flex;
  align-items: end;
}
